<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>



    <h1>Burgers</h1>

    <div>


        {{#each burgers}}


        <h2>{{this.id}}</h2>
        <h2>{{this.burger_name}}</h2>
        <h2>{{this.burgers}}</h2>
        <a href="/create">Create</a>
        <button class="upbutton" data-id={{this.id}}>Update</button>
        <button class="delbutton" data-id={{this.id}}>Delete</button>
        <a href="/update/{{this.id}}">Update Now</a>



        {{/each}}

    </div>
    </body>

</html>